@import "main.scss";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .3;
    }

    a {
        text-decoration: none;
    }
}

.login-form {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2rem;
    border-radius: .8rem;

    a {
        text-decoration: none;
        i {
            color: white;
            font-size: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            margin-left: .5rem;
            margin-top: .5rem;        
        }
    }

    .title h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
        font-weight: 600;

        span {
            color: #EC2F4B;
        }
    }

    .content {
        height: 100%;
        margin-top: 1rem;
        width: 25rem;

        .alert {
            display: none;
            border-radius: 1rem;
            padding: 0.8rem;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .form-floating {
                width: 100%;
                .form-control {
                    border: none;
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: .5rem;
                }

                input {
                    color: black;
                }
    
                label {
                    color: rgba(0, 0, 0, 0.7);
                    opacity: 1;
                }
            }
            .button {
                display: flex;
                flex-direction: column;
                margin-top: 1.3rem;
                .btn {
                    width: 5.5rem;
                    border-radius: .5rem;
                    color: white;
                    margin: .5rem;
                }
                .btn-register {
                    color: lighten(#009FFF, 20%);
                }
            }
        }

        .reminder {
            display: flex;
            justify-content: space-around;
            p {
                a {
                    color: white;
                    font-size: .8rem;
                    font-weight: 300;
                    &:hover {
                        color: #012856;
                    }
                }

                &:hover a {
                    color: #009FFF;
                }
            }
        }
    }

    .main-page {
        a {
            color: #012856;
            text-decoration: underline;
            font-weight: 400;
            font-size: .9rem;

            &:hover {
                color:#012856;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .login-form {
        padding: 1.3rem 0.8rem;

        .content {
            width: 18.2rem;
        }
    }
}